[ColorScheme]
active_colors={{ c.onSurface | argb:ff }}, {{ c.surfaceContainer | argb:ff }}, {{ c.surfaceContainerHighest | argb:ff }}, {{ c.surfaceContainerHigh | argb:ff }}, {{ c.surfaceContainerLowest | argb:ff }}, {{ c.surfaceContainerLow | argb:ff }}, {{ c.onSurface | argb:ff }}, {{ c.white | argb:ff }}, {{ c.onSurface | argb:ff }}, {{ c.surface | argb:ff }}, {{ c.surface | argb:ff }}, {{ c.shadow | argb:ff }}, {{ c.primary | argb:ff }}, {{ c.onPrimary | argb:ff }}, {{ c.secondary | argb:ff }}, {{ c.primary | argb:ff }}, {{ c.surfaceContainer | argb:ff }}, {{ c.surfaceContainerHigh | argb:ff }}, {{ c.onSurface | argb:ff }}, {{ c.outline | argb:ff }}, {{ c.primary | argb:ff }}
inactive_colors={{ c.onSurfaceVariant | argb:ff }}, {{ c.surfaceContainer | argb:ff }}, {{ c.surfaceContainerHighest | argb:ff }}, {{ c.surfaceContainerHigh | argb:ff }}, {{ c.surfaceContainerLowest | argb:ff }}, {{ c.surfaceContainerLow | argb:ff }}, {{ c.onSurfaceVariant | argb:ff }}, {{ c.white | argb:ff }}, {{ c.onSurfaceVariant | argb:ff }}, {{ c.surface | argb:ff }}, {{ c.surface | argb:ff }}, {{ c.shadow | argb:ff }}, {{ c.primaryContainer | argb:ff }}, {{ c.onPrimaryContainer | argb:ff }}, {{ c.secondary | argb:ff }}, {{ c.primary | argb:ff }}, {{ c.surfaceContainer | argb:ff }}, {{ c.surfaceContainerHigh | argb:ff }}, {{ c.onSurface | argb:ff }}, {{ c.outline | argb:ff }}, {{ c.primaryContainer | argb:ff }}
disabled_colors={{ c.outline | argb:ff }}, {{ c.surfaceContainer | argb:ff }}, {{ c.surfaceContainerHighest | argb:ff }}, {{ c.surfaceContainerHigh | argb:ff }}, {{ c.surfaceContainerLowest | argb:ff }}, {{ c.surfaceContainerLow | argb:ff }}, {{ c.outline | argb:ff }}, {{ c.white | argb:ff }}, {{ c.outline | argb:ff }}, {{ c.surface | argb:ff }}, {{ c.surface | argb:ff }}, {{ c.shadow | argb:ff }}, {{ c.surfaceContainerHighest | argb:ff }}, {{ c.outline | argb:ff }}, {{ c.secondary | argb:ff }}, {{ c.primary | argb:ff }}, {{ c.surfaceContainer | argb:ff }}, {{ c.surfaceContainerHigh | argb:ff }}, {{ c.onSurface | argb:ff }}, {{ c.outline | argb:ff }}, {{ c.surfaceContainerHighest | argb:ff }}
